# depot configuration
PUBLIC_STRAPI_URL=http://127.0.0.1:1337
PUBLIC_DEPOT_BASE_URL=https://depot.social
PUBLIC_MAPBOX_TOKEN=""
PUBLIC_RANDOM_LOCATION_RADIUS=200

# comma-separated list of custom layers (e.g. './berlin')
NUXT_LAYERS=

# minimal search index flag 
STRAPI_CONCAT_SEARCH=false

# hide sensitive data in resource.address field
REDACT_PRECISE_RESOURCE_LOCATION=true

# strapi configuration
HOST=0.0.0.0
PORT=1337
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=

# strapi database configuration (MySQL)
DATABASE_TYPE=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=strapi_password
DATABASE_DEBUG=false
#DATABASE_SSL_SELF=true

# depot strapi plugins
STRAPI_PLUGIN_AVAILABILITIES=true
STRAPI_PLUGIN_CONVERSATIONS=true
STRAPI_PLUGIN_PRICES=true
STRAPI_PLUGIN_EMAILS=true
STRAPI_PLUGIN_RENTAL_AGREEMENT=true
STRAPI_PLUGIN_IMPORT_CSV=false

# email config
ADMIN_EMAIL=""
REPLY_EMAIL=""

SMTP_HOST=""
SMTP_PORT=465
SMTP_USERNAME=""
SMTP_PASSWORD=""

# qwik / NextAuth.js configuration
AUTH_SECRET="x"
GITHUB_ID=""
GITHUB_SECRET=""
